<!-- Generator/templates/Generator/details.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{{ schedule.name }} - Events{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Generator/css/details.css' %}">
{% endblock %}

{% block content %}
    <h1>Schedule: {{ schedule.name }}</h1>
    <a href="{% url 'generator:index' %}">Back to Schedules</a>

    <!-- Display messages -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Existing Events</h2>
    {% if schedule.event_set.all %}
        <div class="card-container">
            {% for event in schedule.event_set.all %}
                <div class="card">
                    <strong>{{ event.name }}</strong>
                    {% if event.time_slots %}
                        {% for slot in event.time_slots %}
                            {% if slot|length == 2 %}
                                <span>{{ slot.0 }}</span> and <span>{{ slot.1 }}</span><br/>
                            {% else %}
                                <span>{{ slot }}</span><br/>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <span>No time slots assigned.</span>
                    {% endif %}
                </div>
            {% endfor %}
                   <a href="{% url 'generator:generate_combinations' schedule.id%}" class="btn-secondary" >Generate</a>
        </div>
    {% else %}
        <p>No events added yet.</p>
    {% endif %}

    <!-- Form to add new events -->
    <h2>Add New Events</h2>
    <form action="{% url 'generator:events' schedule.id %}" method="POST">
        {% csrf_token %}
        <!-- Container for event blocks inserted via JavaScript -->
        <div id="events-container"></div>
        <!-- Button to add a new event block -->
        <button type="button" id="addEventButton" class="btn-secondary">Add New Event</button>
        <br><br>
        <input type="submit" value="Save All Events" class="btn-primary">
    </form>
    <br><br><br>
    <br><br><br>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'Generator/js/details.js' %}" defer></script>
{% endblock %}