<!-- Scheduales_Generator/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Schedules Generator{% endblock %}</title>
    {% load static %}

    <!-- Link to CSS Variables First -->
    <link rel="stylesheet" href="{% static 'landing/css/variables.css' %}">

    <!-- Base Styles -->
    <link rel="stylesheet" href="{% static 'landing/css/base.css' %}">

    <!-- Layout Styles -->
    <link rel="stylesheet" href="{% static 'landing/css/layout.css' %}">

    <!-- Navbar Styles -->
    <link rel="stylesheet" href="{% static 'landing/css/navbar.css' %}">

    <!-- Forms Styles -->
    <link rel="stylesheet" href="{% static 'landing/css/forms.css' %}">

    <!-- Buttons Styles -->
    <link rel="stylesheet" href="{% static 'landing/css/buttons.css' %}">

    <!-- Cards Styles -->
    <link rel="stylesheet" href="{% static 'landing/css/cards.css' %}">

    <!-- Responsive Styles -->
    <link rel="stylesheet" href="{% static 'landing/css/responsive.css' %}">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'landing/css/custom.css' %}">

    <!-- Landing Page Specific Styles -->
    <link rel="stylesheet" href="{% static 'landing/css/landing.css' %}">

    <link rel="stylesheet" href="{% static 'landing/css/footer.css' %}">


    <!-- Include additional CSS files if needed -->
    {% block extra_css %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="{% url 'landing' %}">Schedules Generator</a>
        </div>
        <input type="checkbox" id="navbar-toggle" class="navbar-toggle" aria-label="Toggle navigation">
        <label for="navbar-toggle" class="navbar-icon" aria-hidden="true">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul class="navbar-links">
            <li><a href="{% url 'landing' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'generator:index' %}">Generation</a></li>
                {% if user.is_staff %}
                    <li><a href="/admin/">Admin Panel</a></li>
                {% endif %}
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="content container">
        {% block content %}{% endblock %}
    </div>
    <!-- Include JavaScript files -->
    <script src="{% static 'landing/js/navbar.js' %}" defer></script>
    <script src="{% static 'landing/js/custom.js' %}" defer></script>
    <script src="{% static 'landing/js/footer.js' %}" defer></script>
    {% block extra_js %}{% endblock %}
</body>
</html>